:host {
  display: block;
}

.container-fluid {
  background-color: #fff !important;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.flex {
  display: flex;
}

.w-1\/2 {
  width: 50%;
}

.w-full {
  width: 100%;
}

.pt-3 {
  padding-top: 1rem;
}

.pt-4 {
  padding-top: 1.5rem;
}

.mt-3 {
  margin-top: 1rem;
}

.device-info-section {
  margin-top: 2.5rem;
  clear: both;
}

table {
  width: 100%;
}

.print-table th:first-child {
  -moz-border-radius: 6px 0 0 0;
  -webkit-border-radius: 6px 0 0 0;
  border-radius: 6px 0 0 0;
}

.print-table th:last-child {
  -moz-border-radius: 0 6px 0 0;
  -webkit-border-radius: 0 6px 0 0;
  border-radius: 0 6px 0 0;
}

.print-table th:only-child {
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}

.print-table tr:last-child td:first-child {
  -moz-border-radius: 0 0 0 6px;
  -webkit-border-radius: 0 0 0 6px;
  border-radius: 0 0 0 6px;
}

.print-table tr:last-child td:last-child {
  -moz-border-radius: 0 0 6px 0;
  -webkit-border-radius: 0 0 6px 0;
  border-radius: 0 0 6px 0;
}

.print-table td {
  padding: 5px 5px 5px 30px;
  margin: 0;
  font-size: 20px;
  color: #000;
  border: 1.5px solid #000;
}

.print-table th {
  outline: #808282 1px solid;
}

.table-container table td {
  padding: 1px 6px 0px 30px;
  margin: 0;
  font-size: 20px;
  color: #000;
  border-left: 1.5px solid #000;
  border-right: 1.5px solid #000;
  border-bottom: 1.5px solid #000;
  border-top: none;
  border-radius: 0;
}

.table-container table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

.table-container table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

.table-container table th {
  border-top: none;
  border-bottom: none;
}

.table-container table th {
  background-color: #294174;
  color: #fff;
  font-size: 20px;
  padding: 5px 5px 5px 30px;
  vertical-align: middle !important;
  text-transform: none;
}

.text-center {
  text-align: center;
}

.print-table,
.print-table2 {
  width: -webkit-fill-available;
}

.print-table2 img {
  height: 25px;
}

.print-table h1 {
  color: #fff;
  margin: -10px -10px -10px 0px !important;
  padding: 0px !important;
  font-weight: bold;
  font-size: 40px;
}

.print-table h3 {
  font-weight: 600;
  font-size: 20px;
  color: #000;
  margin-bottom: 0px;
}

.print-table th {
  color: #fff;
  background-color: #808282 !important;
  font-size: 20px;
  padding: 5px 5px 5px 30px;
  vertical-align: middle !important;
  text-transform: none;
  letter-spacing: 0px;
}

.print-table2 th {
  letter-spacing: 0px;
  font-size: 25px;
  color: #ffffff;
  font-weight: 700;
  text-transform: none;
  padding: 0px 10px 0px 20px !important;
  background-color: #808282 !important;
  border: none;
}

.print-table2 td {
  font-size: 20px;
  color: #000;
  font-weight: 500;
  text-transform: none;
  border-top: none;
  padding: 0px 0px 0px 20px !important;
  border: none;
}

.print-table2 {
  border-collapse: collapse;
  border: none;
}

.print-table2 tr {
  border: none;
}

.print-table2 tbody {
  border: none;
}

.print-table2 thead {
  border: none;
}

.bold-text {
  font-weight: 700 !important;
}

.print-hr {
  border-top: 10px solid #808282;
  font-weight: bold;
}

.table.print-table {
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 10px;
}

.arrow-img {
  display: block;
  margin: 0 auto;
  width: 470px;
}

.ellipses-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 60px;
}

.qrcodeImage {
  display: flex;
  flex: 1;
}

.test-result-icon {
  font-size: 28px;
  font-weight: bold;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.test-result-icon.passed {
  color: #A7D48E;
  background-color: rgba(167, 212, 142, 0.2);
}

.test-result-icon.failed {
  color: #ef4444;
  background-color: #fee2e2;
}
