/* Purchase Receiving Component Styles */

.progress-bar {
  width: 100%;
  background-color: hsl(var(--b3));
  border-radius: 9999px;
  height: 0.5rem;
}

.progress-fill {
  background-color: hsl(var(--p));
  height: 0.5rem;
  border-radius: 9999px;
  transition: all 300ms;
}

.item-card {
  border: 1px solid hsl(var(--b3));
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: hsl(var(--b1));
}

.item-card:hover {
  border-color: hsl(var(--bc) / 0.4);
}

.identifier-input {
  flex: 1;
}

.scanner-container {
  border: 2px dashed hsl(var(--b3));
  border-radius: 0.5rem;
  padding: 1rem;
}

.scanner-container:hover {
  border-color: hsl(var(--p) / 0.5);
}
